<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', { pageTitle: "Register" }); %>
    <link rel="stylesheet" href="/CSS/style.css">

    <style>
        /* Mobile View */
        @media (max-width: 767px) {
            .container {
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            form p {
                text-align: left;
                margin-left: -40px;
                font-size: 16px;
            }

            form button {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .center-links {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                height: auto;
            }

            form input {
                margin-top: 20px;
                margin-left: -50px;
            }

            form button {
                margin-right: -20px;
                margin-top: 20px;
            }

            .text-container {
                display: flex;
                justify-content: space-between;
                gap: 10px;
            }

            .text-container p,
            .text-container a {
                display: inline;
                margin: auto;
                margin-left: 10px;
                padding: 10px;
                margin-right: -50px;
                margin-left: -55px;
                white-space: nowrap;
                font-size: 15px;
                margin-top: -10px;
            }

            .register-section input[type="info"] {
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
            }

            .register-section input[type="text"] {
                width: 140%;
                padding: 10px;
                margin-bottom: 10px;
            }
        }
        </style>
    </head>
<body>
    <%- include('../partials/navbar'); %>

    <div class="register-section">
        <h3>Account</h3>
        <hr>
        <p>welcome</p>
        <br>
        <br>
        <form action="/register" method="POST">
            <input type="email" name="email" placeholder="Email" required><br>
            <input type="text" name="firstname" placeholder="First Name" required><br>
            <input type="text" name="lastname" placeholder="Last Name" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <input type="confirmpassword" name="confirmpassword" placeholder="Confirm Password" required><br>
            <button type="submit">Register</button>
        </form>
    </div>

    <%- include('../partials/news-letter') %>
    <%- include('../partials/footer') %>
    <script src="/controllers/navbar/category-dropdown-controller.js"></script>
    <script src="/controllers/wishlist/add-to-wishlist.js"></script>
    <script src="/controllers/wishlist/wishlist-icon-toggle.js"></script>
    <script src="/controllers/navbar/navbar-toggle-controller.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</body>

</html>