<section id="intro-section">
  <form id="newsletter-form">
    <div class="container-fluid bg-gray">
      <h4>Newsletter</h4>
      <br />
      <p>
        Sign in to receive our latest news about collections, products, shows, and collaborations
      </p>
      <div class="email-input-container">
        <input
          type="email"
          name="email"
          id="email-input"
          placeholder="Enter your email"
        />
        <button type="button" id="send-button" style="display: none">
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </form>
</section>


<script>
  document.addEventListener("DOMContentLoaded", () => {
    const emailInput = document.getElementById("email-input");
    const sendButton = document.getElementById("send-button");

    emailInput.addEventListener("input", function () {
      if (this.value.includes("@")) {
        sendButton.style.display = "inline-block";
      } else {
        sendButton.style.display = "none";
      }
    });

    sendButton.addEventListener("click", function (event) {
      event.preventDefault(); 
      const email = emailInput.value;

      fetch('/sub', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ email }),
      })
        .then((response) => {
          if (response.ok) {
            window.location.href = '/html/success.html';
          } else {
            window.location.href = '/html/failure.html';
          }
        })
        .catch((error) => {
          console.error('Error:', error);
          window.location.href = '/html/failure.html';
        });
    });
  });
</script>
