<section id="intro-section">
  <form action="/sub" method="post">
    <div class="container-fluid bg-gray">
      <h4>Newsletter</h4>
      <br />
      <p>
        Sign in to receive our lastest news about collection, products, shows
        and collaborations
      </p>
      <div class="email-input-container">
        <input
          type="email"
          name="email"
          id="email-input"
          placeholder="Enter your email"
        />
        <button id="send-button" style="display: none">
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </form>
</section>

<script src="/controllers/signInForm/newsLetterController.ejs"></script>