<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head', { pageTitle: "Contact Us/contact us" }); %>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"
    />

    <style>
      /* Mobile View */
      @media (max-width: 767px) {
        .container {
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .contactus h3 {
          font-size: 20px;
        }

        .contactus p {
          font-size: 16px;
        }

        .center-links a {
          font-size: 16px;
        }

        #footer {
          text-align: center;
        }

        #footer .container-fluid {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        #footer .container-fluid ul {
          list-style-type: none;
          margin: 0;
          padding: 5px;
        }

        #footer .conpyright li {
          font-size: 14px;
          margin-top: 20px;
        }
      }
    </style>
  </head>
  <body>
    <%- include('partials/navbar'); %>

    <div class="contactus">
      <h3>Contact Us</h3>
      <hr />
      <p>
        we're happy to help with any questions you <br />may have regarding our
        products and <br />corporate information
      </p>
      <br />
      <br />
    </div>
    <div class="center-links">
      <a href="form">contact us</a>
      <br />
      <a href="our-store">our store</a>
    </div>

    <div class="form-container">
      <form action="https://api.web3forms.com/submit" method="POST">
        <input
          type="hidden"
          name="access_key"
          value="7440b285-d635-4f2b-9b4f-390bc3a68499"
        />
        <div class="name-fields">
          <div>
            <input
              type="text"
              id="firstName"
              name="firstName"
              placeholder="First Name"
            />
          </div>
          <div>
            <input
              type="text"
              id="lastName"
              name="lastName"
              placeholder="Last Name"
            />
          </div>

          <div>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Email"
              required
            />
          </div>
          <div>
            <input
              type="text"
              id="phoneNumber"
              name="phoneNumber"
              placeholder="Phone Number"
            />
          </div>
          <div>
            <select
              name="topics"
              id="topics"
              for="topics"
              class="custom-select"
            >
              <option value="Select a topic">Select a topic</option>
              <option value="Order">Order</option>
              <option value="Return">Return</option>
              <option value="Others">Others</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <textarea
            id="comment"
            name="comment"
            placeholder="Type here"
          ></textarea>
        </div>
        <button type="submit" style="background-color: #0c254a">Submit</button>
      </form>
    </div>

    <div class="infoshop">
      <h5>La Boutique Montaigne</h5>
      <hr />
      <br />
      <div class="map-container">
        <div id="map"></div>
      </div>

      <ul>
        <li>58 av. Montaigne, 75008 Paris</li>
        <li>+33-1-86-47-83-72</li>
      </ul>
      <p>
        Opening hours<br />
        Monday 10am - 7.30pm<br />
        Tuesday 10am - 7.30pm<br />
        Wednesday 10am - 7.30pm<br />
        Thursday 10am - 7.30pm<br />
        Friday 10am - 7.30pm<br />
        Saturday 10am - 7.30pm<br />
        Sunday 12am - 7pm
      </p>
      <p>
        Credits : Pierre Auguste Renoir, La danseuse aux voiles, 1908-1910<br />
        Courtesy of Gallery Helene Bailly
      </p>
      <a
        href="https://www.google.com/maps?q=48.868242,2.308989"
        class="btn-locate"
        ><button type="submit" style="background-color: #0c254a">
          GET DIRECTIONS
        </button></a
      >
    </div>

    <%- include('partials/news-letter') %> <%- include('partials/footer') %>

    <script src="/controllers/contact-us/form-store-switch.js"></script>
    <script src="/controllers/contact-us/map-loader.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script src="https://web3forms.com/client/script.js" async defer></script>
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
  </body>
</html>